<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EmployeeManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DeptAddCheck</display-name>
    <servlet-name>DeptAddCheck</servlet-name>
    <servlet-class>master.servlet.DeptAddCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptAddCheck</servlet-name>
    <url-pattern>/DeptAddCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeptAddServe</display-name>
    <servlet-name>DeptAddServe</servlet-name>
    <servlet-class>master.servlet.DeptAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptAddServe</servlet-name>
    <url-pattern>/DeptAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeptDel</display-name>
    <servlet-name>DeptDel</servlet-name>
    <servlet-class>master.servlet.DeptDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptDel</servlet-name>
    <url-pattern>/DeptDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetName</display-name>
    <servlet-name>GetName</servlet-name>
    <servlet-class>master.servlet.GetName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetName</servlet-name>
    <url-pattern>/GetName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpAddCheck</display-name>
    <servlet-name>EmpAddCheck</servlet-name>
    <servlet-class>master.servlet.EmpAddCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpAddCheck</servlet-name>
    <url-pattern>/EmpAddCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpAddServe</display-name>
    <servlet-name>EmpAddServe</servlet-name>
    <servlet-class>master.servlet.EmpAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpAddServe</servlet-name>
    <url-pattern>/EmpAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpDel</display-name>
    <servlet-name>EmpDel</servlet-name>
    <servlet-class>master.servlet.EmpDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpDel</servlet-name>
    <url-pattern>/EmpDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmp</display-name>
    <servlet-name>UpdateEmp</servlet-name>
    <servlet-class>master.servlet.UpdateEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmp</servlet-name>
    <url-pattern>/UpdateEmp</url-pattern>
  </servlet-mapping>
</web-app>